body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    /* margin-left: 20px; */
    margin-top: 30px;
    margin-left: 30px;
    border: 5px solid #999;
    padding: 10px;
}

.menu {
    margin-top: 15px;
}